/* Figma Styles of your File */
:root {
  /* Colors */
  --base: linear-gradient(to left, #f5f5f7, #f5f5f7);
  --primary: linear-gradient(to left, #3d4f66, #3d4f66),
    linear-gradient(to left, #4eab63, #4eab63),
    linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(to left, #f5f5f7, #f5f5f7);
  --action: linear-gradient(
      135deg,
      rgba(68, 196, 132, 1) 0%,
      rgba(70, 182, 150, 1) 100%
    ),
    linear-gradient(to left, #27b366, #27b366),
    linear-gradient(to left, #0071e3, #0071e3),
    linear-gradient(to left, #df2935, #df2935),
    linear-gradient(to left, #0054a6, #0054a6);
  --text-primary: linear-gradient(to left, #3d4f66, #3d4f66),
    linear-gradient(to left, #1d1d1f, #1d1d1f);
  --text-secondary: linear-gradient(
      to left,
      rgba(61, 79, 102, 0.5),
      rgba(61, 79, 102, 0.5)
    ),
    linear-gradient(to left, #969696, #969696);
  --notification: linear-gradient(to left, #ff453a, #ff453a);
  --cardbackground: linear-gradient(to left, #ffffff, #ffffff);
  --textoncoloredbutton: #ffffff;
  --infoonphoto: rgba(255, 255, 255, 0.6);
  --inputitem-background: #ffffff;

  /* Fonts */
  --div-font-family: Roboto-Regular, sans-serif;
  --div-font-size: 14px;
  --div-line-height: 16px;
  --div-font-weight: 400;
  --div-font-style: normal;
  --div-font-family: Roboto-Regular, sans-serif;
  --div-font-size: 14px;
  --div-line-height: 16px;
  --div-font-weight: 400;
  --div-font-style: normal;
  --_12-px-font-family: Roboto-Regular, sans-serif;
  --_12-px-font-size: 12px;
  --_12-px-line-height: 14px;
  --_12-px-font-weight: 400;
  --_12-px-font-style: normal;
  --_12-px-font-family: Roboto-Regular, sans-serif;
  --_12-px-font-size: 12px;
  --_12-px-line-height: 14px;
  --_12-px-font-weight: 400;
  --_12-px-font-style: normal;
  --_12-px-semi-bold-font-family: Roboto-SemiBold, sans-serif;
  --_12-px-semi-bold-font-size: 12px;
  --_12-px-semi-bold-line-height: 14px;
  --_12-px-semi-bold-font-weight: 600;
  --_12-px-semi-bold-font-style: normal;
  --_12-px-semi-bold-font-family: Roboto-SemiBold, sans-serif;
  --_12-px-semi-bold-font-size: 12px;
  --_12-px-semi-bold-line-height: 14px;
  --_12-px-semi-bold-font-weight: 600;
  --_12-px-semi-bold-font-style: normal;
  --div-font-family: Roboto-SemiBold, sans-serif;
  --div-font-size: 24px;
  --div-line-height: 28px;
  --div-font-weight: 600;
  --div-font-style: normal;
  --_16-px-font-family: Roboto-Regular, sans-serif;
  --_16-px-font-size: 16px;
  --_16-px-line-height: 18px;
  --_16-px-font-weight: 400;
  --_16-px-font-style: normal;
  --_16-px-font-family: Roboto-Regular, sans-serif;
  --_16-px-font-size: 16px;
  --_16-px-line-height: 18px;
  --_16-px-font-weight: 400;
  --_16-px-font-style: normal;
  --div-font-family: Roboto-Regular, sans-serif;
  --div-font-size: 14px;
  --div-line-height: 16px;
  --div-font-weight: 400;
  --div-font-style: normal;
  --div-font-family: Roboto-Regular, sans-serif;
  --div-font-size: 14px;
  --div-line-height: 16px;
  --div-font-weight: 400;
  --div-font-style: normal;
  --div-font-family: Roboto-Light, sans-serif;
  --div-font-size: 11px;
  --div-line-height: 13px;
  --div-font-weight: 300;
  --div-font-style: normal;
  --div-font-family: Roboto-Medium, sans-serif;
  --div-font-size: 16px;
  --div-line-height: 18px;
  --div-font-weight: 500;
  --div-font-style: normal;
  --div-font-family: Roboto-Regular, sans-serif;
  --div-font-size: 12px;
  --div-line-height: 14px;
  --div-font-weight: 400;
  --div-font-style: normal;
  --div-font-family: Roboto-Light, sans-serif;
  --div-font-size: 12px;
  --div-line-height: 14px;
  --div-font-weight: 300;
  --div-font-style: normal;
  --div-font-family: Roboto-Medium, sans-serif;
  --div-font-size: 16px;
  --div-line-height: 18px;
  --div-font-weight: 500;
  --div-font-style: normal;
  --div-font-family: Roboto-Bold, sans-serif;
  --div-font-size: 12px;
  --div-line-height: 14px;
  --div-font-weight: 700;
  --div-font-style: normal;
  --div-font-family: Roboto-Regular, sans-serif;
  --div-font-size: 12px;
  --div-line-height: 14px;
  --div-font-weight: 400;
  --div-font-style: normal;
  --div-font-family: Roboto-Regular, sans-serif;
  --div-font-size: 10px;
  --div-line-height: 12px;
  --div-font-weight: 400;
  --div-font-style: normal;
  --div-font-family: Roboto-Medium, sans-serif;
  --div-font-size: 16px;
  --div-line-height: 18px;
  --div-font-weight: 500;
  --div-font-style: normal;
  --div-font-family: Roboto-Medium, sans-serif;
  --div-font-size: 16px;
  --div-line-height: 18px;
  --div-font-weight: 500;
  --div-font-style: normal;

  /* Effects */
  --shadow-box-shadow: 0px 1.25px 2.21px 0px rgba(26, 26, 26, 0.03),
    0px 2.99px 5.32px 0px rgba(26, 26, 26, 0.04),
    0px 5.63px 10.02px 0px rgba(26, 26, 26, 0.05),
    0px 10.05px 17.87px 0px rgba(26, 26, 26, 0.05),
    0px 18.8px 33.42px 0px rgba(26, 26, 26, 0.06),
    0px 45px 80px 0px rgba(26, 26, 26, 0.09),
    2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  --infoonphoto-backdrop-filter: blur(100px);
}
